<div class="container d-flex justify-content-center align-items-center">
    <div class="border bg-light">
        <div id="conversion-div" class="currency-container">
            <div>
                <h2 class="text-center mb-40">Simple Currency Converter</h2>
            </div>

            <div class="w-100">
                <p class="p-font mt-20">From</p>
                <div class="input-group">
                    <select id="from" class="form-select">
                        {{#each currency}}
                            <option value="{{@key}}"
                            {{#if (isDefaultCurrencyFrom @key)}}
                                selected="selected"
                            {{/if}}
                            >
                                {{name}}
                            </option>
                        {{/each}}
                    </select>
                    <input type="number" id="from-amount" min="0" placeholder="0.00" pattern="^\d+(?:\.\d{1,2})?$" class="form-control">
                    <span id="from-symbol-span" class="input-group-text">
                        {{default_currency_from.symbol_native}}
                    </span>
                </div>
            </div>

            <div class="w-100">
                <p class="p-font mt-20">To</p>
                <div class="input-group mb-20">
                    <select id="to" class="form-select">
                        {{#each currency}}
                            <option value="{{@key}}"
                            {{#if (isDefaultCurrencyTo @key)}}
                                selected="selected"
                            {{/if}}
                            >
                                {{name}}
                            </option>
                        {{/each}}
                    </select>
                    <input type="number" id="to-amount" min="0" placeholder="0.00" pattern="^\d+(?:\.\d{1,2})?$" class="form-control">
                    <span id="to-symbol-span" class="input-group-text">
                        {{default_currency_to.symbol_native}}
                    </span>
                </div>
            </div>
            
            <div id="error-msg" class="alert alert-danger text-center w-100" role="alert" style="margin: 0px; display: none;">
                Conversion failed, try <a href="/" class="alert-link">reloading</a> the page.
            </div>

            <button type="button" id="reset-btn" class="btn btn-primary btn-lg btn-block text-uppercase w-100 mt-20">
                Reset
            </button>
        </div>
    </div>
</div>

<script id="helper" 
default-currency-from="{{default_currency_from.code}}" 
default-currency-to="{{default_currency_to.code}}" 
src="./js/indexDOM.js"></script>